.contact {
    /* Display content over background */
    @include overBackground;

    /* Content position */
    @include positionContent;

    &__textContainer {

        display: grid;
        grid-template-rows: 25vh 1fr 25vh;
        padding-right: 10vw; 

        h3 {
            font-weight: 100;
            color: $color-tertiary;
            font-size: 10rem;

            animation-duration: 5s;
            animation-delay: 0.5s; 
            animation-name: showLogo;
        }

        p {
            font-size: 1.8rem;
            color: $color-tertiary;
            font-weight: 300;

            animation-duration: 5s;
            animation-delay: 0.5s; 
            animation-name: showLogo;

            a {
                color: $color-primary;
                text-decoration: underline;
            }
        }

        

        &-arrow-container {
            display: flex;
            justify-content: left;
            padding-right: 10vw; 
            margin-top: 5rem;
            opacity: 0;

            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-delay: 2s; 
            animation-name: showArrow;
        } 

        &-arrow {
            @include arrowButton;
        }
    }
}